html,
body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Calibri;
}
.text-center {
    text-align: center;
}

.text-white {
    color: white;
}
.wrapper {
    width: 100%;
    height: 100vh;
    position: fixed;
    display: grid;
    align-content: center;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.wrapper-background {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    background-image: -moz-linear-gradient(45deg, #3f3251 2%, #002025 100%);
    background-image: -webkit-linear-gradient(45deg, #3f3251 2%, #002025 100%);
    background-image: linear-gradient(45deg, #3f3251 2%, #002025 100%);
    opacity: 0.8;
}
.loader {
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 120px;
    height: 120px;
    margin-left: -60px;
    margin-top: -60px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: table;
    vertical-align: middle;
    text-align: left;
    font-size: 0;
    font-family: monospace;
}
.loader.show {
    opacity: 1;
}
.loader-circle {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    margin-left: -60px;
    margin-top: -60px;
}
.loader-line-mask {
    overflow: hidden;
    -webkit-transform-origin: 60px 60px;
    -moz-transform-origin: 60px 60px;
    -ms-transform-origin: 60px 60px;
    -o-transform-origin: 60px 60px;
    transform-origin: 60px 60px;
    -webkit-mask-image: -webkit-linear-gradient(top, #000000, rgba(0, 0, 0, 0));
    -webkit-animation: rotate 1.2s infinite linear;
    -moz-animation: rotate 1.2s infinite linear;
    -o-animation: rotate 1.2s infinite linear;
    animation: rotate 1.2s infinite linear;
}
.percent {
    font-size: 28px;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 0;
    bottom: 0;
    display: table;
    margin: auto;
    vertical-align: middle;
    color: #fff;
}


#main > *{
    transition: all ease 0.3s;
}
#main.loaded .wrapper{
    opacity: 0;
    transform: translateY(-100px);
}

@-webkit-keyframes rotate{ 0% { -webkit-transform: rotate(0deg);} 100% { -webkit-transform: rotate(360deg);}}
@-moz-keyframes rotate{ 0% { -moz-transform: rotate(0deg);} 100% { -moz-transform: rotate(360deg);}}
@-o-keyframes rotate{ 0% { -o-transform: rotate(0deg);} 100% { -o-transform: rotate(360deg);}}
@keyframes rotate{ 0% {-webkit-transform: rotate(0deg);-moz-transform: rotate(0deg);-ms-transform: rotate(0deg);transform: rotate(0deg);} 100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);-ms-transform: rotate(360deg);transform: rotate(360deg);}}


.wrapper {
    opacity: 1;
}
.loader-line-mask .loader-line {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);
}

.upload-btn {
    padding: 15px 30px;
    background: #00c9b7;
    color: #fff;
    font-family: monospace;
    transition: all 0.2s ease;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0px 0px 14px 1px rgba(00,00,00,0.2);
}
/*.upload-btn:hover {*/
    /*box-shadow: 0px 0px 1px 0px rgba(00,00,00,0.2);*/
    /*transition: all 0.2s ease;*/
/*}*/
#upload {
    position: absolute;
    font-size: 50px;
    opacity: 0;
    right: 0;
    top: 0;
}

.dragging:before {
    padding: 10px;
    background-image: repeating-linear-gradient(-45deg, rgba(255,255,255, 0.15), rgba(255,255,255, 0.15) 1px, transparent 1px, transparent 6px);
    background-size: 8px 8px;
    content: '';
    position: absolute;
    display: table;
    width: 98%;
    height: 90vh;
    border: 4px dashed #ffffff4a;
    margin: auto;
    z-index: 2;
    box-sizing: border-box;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.hide{
    opacity: 0;
    transform: translateY(-100%);
    transition: all 0.6s ease;
}

/*Player*/
.player-wrapper {
    width: 60%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    z-index: 2;
    bottom: 20px;
    overflow: hidden;
}
.player {
    padding: 10px;
    display: grid;
    grid-template-columns: 40px 115px auto 110px 40px;
    align-items: center;
    background-color: #ffffff14;
    border-radius: 30px;

    opacity: 0;
    transform: translateY(150px);
    transition: all 0.3s ease;
}

.player.show {
    opacity: 1;
    transform: translateY(0px);
}


.control{
    padding: 8px;
    background: no-repeat;
    border-radius: 15px;
    border: 1px solid #ffffff30;
    cursor: pointer;
    outline: none;
}
.control:disabled {
    cursor: inherit;
}
.control:disabled .icon {
    opacity: 0.2;
}
.control-group{
    display: inline-flex;
    border-radius: 30px;
    border: 1px solid #373737;
    padding: 8px 12px;
}
.control-group .control {
    border: none;
    padding: 0;
    border-radius: 0;
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid #424242;
}
.control-group .control:last-child{
    padding-right: 0px;
    margin-right: 0px;
    border-right: 0px;
}
.icon {
    width: 12px;
    height: 12px;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
}
.icon.i-play{
    background-image: url("../img/play.svg");
}
.icon.i-pause{
    background-image: url("../img/pause.svg");
}
.icon.i-stop{
    background-image: url("../img/stop.svg");
}
.icon.i-volume{
    background-image: url("../img/sound.svg");
}
.icon.i-mute{
    background-image: url("../img/mute.svg");
}

.icon.i-prev{
    background-image: url("../img/prev.svg");
}

.icon.i-next{
    background-image: url("../img/next.svg");
}

.timer {
    color: #fff;
    font-size: 12px;
}

.traceGroup, .volumeGroup {
    display: grid;
    grid-column-gap: 10px;
    justify-items: self-end;
    align-items: center;
}
.traceGroup {
    grid-template-columns: auto 66px;
}

.volumeGroup {
    grid-template-columns: 40px auto;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 3px;
    border-radius: 3px;
    background: #ffffff;
    outline: none;
    opacity: 0.8;
    -webkit-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
}
.slider:hover {
    opacity:1;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #00c9b7;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #00c9b7;
    cursor: pointer;
}